src/main/java/com/intland/jenkins/jacoco/jacoco.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Sun Jun 19 2016 14:51:26 
		GMT+0200 (CEST) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="report">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sessioninfo" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="id" type="xs:string"></xs:attribute>
						<xs:attribute name="start" type="xs:int"></xs:attribute>
						<xs:attribute name="dump" type="xs:int"></xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="package" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="class" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="method" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="counter" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string"></xs:attribute>
															<xs:attribute name="missed" type="xs:int"></xs:attribute>
															<xs:attribute name="covered" type="xs:int"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="name" type="xs:string"></xs:attribute>
												<xs:attribute name="desc" type="xs:string"></xs:attribute>
												<xs:attribute name="line" type="xs:int"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="counter" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="type" type="xs:string"></xs:attribute>
												<xs:attribute name="missed" type="xs:int"></xs:attribute>
												<xs:attribute name="covered" type="xs:int"></xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="sourcefile" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="line" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="nr" type="xs:int"></xs:attribute>
												<xs:attribute name="mi" type="xs:int"></xs:attribute>
												<xs:attribute name="ci" type="xs:int"></xs:attribute>
												<xs:attribute name="mb" type="xs:int"></xs:attribute>
												<xs:attribute name="cb" type="xs:int"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="counter" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="type" type="xs:string"></xs:attribute>
												<xs:attribute name="missed" type="xs:int"></xs:attribute>
												<xs:attribute name="covered" type="xs:int"></xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="counter" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="type" type="xs:string"></xs:attribute>
									<xs:attribute name="missed" type="xs:int"></xs:attribute>
									<xs:attribute name="covered" type="xs:int"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string"></xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="counter" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="type" type="xs:string"></xs:attribute>
						<xs:attribute name="missed" type="xs:int"></xs:attribute>
						<xs:attribute name="covered" type="xs:int"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>